@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&family=Roboto:wght@100;400;700&display=swap");

:root {
  --primary: #22272e;
  --secundary: #2d333b;
  --text: #cdd9da;
  --link: #539bf5;

  --fontTitle: 40px;
  --fontText: 24px;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  margin: 0;
  padding: 0;
}
